.new_div{
    display:inline-block;
    margin-left: 33%;
}
.new_div_{
    display:inline-block;
    margin-left: 7%;
}
.bot-div{
    margin-top: 15%;
    border-top: 5px solid black; 
    
}
ul{
    margin-left: 42%;
}
li{
    margin-left: 7%;
}